<nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <a class="navbar-item">
      <h2 class = "has-text-info is-uppercase has-text-weight-bold">Notification app</h2>
    </a>
  
    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-item">
          <img src="assets\no-notification.png" alt="Notification" width="30" height="30" id = "notification-icon" (click) = "notificationClick()">
        </a>
      </div>
      <div class="navbar-item is-active">
        <button class = "button" (click) = "logout()">Logout</button>
      </div>
    </div>
    
  </nav>
